* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.text {
  text-align: center;
  margin-top: 10%;
}

.cursor {
  opacity: 0;
  transition: 0.2s;
}

.cursor.active {
  opacity: 1;
}

/* 1-NavbarStyle-Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(119, 111, 131);
}

.logo h4 {
  color: rgb(255, 236, 236);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: "Bungee Inline", cursive;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: silver;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: rgb(255, 236, 236);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: beige;
  margin: 5px;
  transition: all 0.4s ease;
}
/* 1-NavbarStyle-End */

footer {
  position:absolute;
  bottom:0;
  width:100%;
  min-height: 4vh;
  background: rgb(119, 111, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 236, 236);
  letter-spacing: 2px;
}


/* Media-Start */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 30%;
  }
  .contact a {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  html,body {
    overflow:hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background-color: rgb(119, 111, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* @media screen and (max-width: 576px) {
} */

/* Media-End */
